/*
*  Styles will go here
*
*
*/



body{
    height: 100%;
}

h3{
    color:#00C19D;
}

p{
    text-indent: 3em;
}

.container {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#003ec7), to(#4685cd));
}


.header {
    padding-top: 60px;
    padding-left: 50px;
    height: 100px;
    background: -webkit-linear-gradient(top, #4685cd, #003ec7);;
}

.nav-basic {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40px;
}

.navbar-collapse {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer {
    height: 50px;
    padding-top:20px;
}

.displayBox {
    display: block;
    padding: 7px;
    margin-bottom: 30px;
    background: -webkit-radial-gradient(20% 35%, closest-side,#ee0c00, #2F2727);
    /*border: 1px solid #dddddd;*/
    height: 120px;
}

.forumSectionColor{
    background-color:  #003ec7;
}

.firstRow {
    border-top: 1px solid black;
    padding-top: 10px;
}

#firstRow {

}

.lastRow {
    border-bottom: 1px solid black;
}

#lastRow {
    border-bottom: 1px solid black;
}

#mainSection {
    height: 75%;
}

.calendarDisplayBox{
    background-color: papayawhip;
}

/*HamburgerIcon*/
.hamburger-menu
{
    width:30px;
    height:5px;
    background-color:#111;
    border-radius:5px;
    float:right;
}

.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 30px;
    height:5px;
    background-color:#2962FF;
    position: relative;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before {
    top: 20px;
}

.icon-bar{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
}
