/*
*  Styles will go here
*
*
*/



body{
    height: 100%;
}

h3{
    color:#00C19D;
}

.h3Mod{
    color:whitesmoke;
}

p{
    text-indent: 3em;
}

.blueButton {
    -moz-box-shadow:inset 0px -3px 7px 0px #a4c639;
    -webkit-box-shadow:inset 0px -3px 7px 0px #a4c639;
    box-shadow:inset 0px -3px 7px 0px #94b233;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #a4c639 5%, #94b233 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#a4c639;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    cursor:pointer;
    color:whitesmoke;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.blueButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #a4c639 5%, #a4c639 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#a4c639;
}
.blueButton:active {
    position:relative;
    top:1px;
}



.container {
    height: 100%;
    width: 100%;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#003ec7), to(#4685cd));
}


.header {
    padding-top: 60px;
    padding-left: 50px;
    height: 100px;
    background: -webkit-linear-gradient(top, #4685cd, #003ec7);;
}

.nav-basic {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40px;
}

.navbar-collapse {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer {
    height: 50px;
    padding-top:20px;
}

.displayBox{
    -moz-box-shadow:inset 0px -3px 7px 0px #a4c639;
    -webkit-box-shadow:inset 0px -3px 7px 0px #a4c639;
    box-shadow:inset 0px -3px 7px 0px #0688fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #a4c639 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%,  #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:whitesmoke;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    cursor:pointer;
    color:whitesmoke;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;


    display: block;
    padding: 7px;
    margin-bottom: 30px;
    /*border: 1px solid #dddddd;*/
    height: 120px;
}
.displayBox:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#a4c639;
}

.postDisplay {
    display: block;
    border: 1px solid gray;
    background-color: bisque;
    margin: 10px;
    padding-top:5px;

}

.forumSectionColor{
    background-color:  #003ec7;
}

.firstRow {
    border-top: 1px solid black;
    padding-top: 10px;
}

#firstRow {

}

.lastRow {
    border-bottom: 1px solid black;
}

#lastRow {
    border-bottom: 1px solid black;
}

#mainSection {
    height: 75%;
}

.calendarDisplayBox{
    background-color: papayawhip;
}

/*HamburgerIcon*/
#hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

