/*
*  Styles will go here
*
*
*/



body{
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.header {
    padding-top: 10px;
    height: 100px;
    border-bottom: 1px solid black;
}

.nav-basic {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
}

.footer {
    height: 15%;
}

h3{
    color: red;
}

.displayBox {
    display: block;
    padding: 4px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    height: 100px;
}

.firstRow {
    border-top: 1px solid black;
    padding-top: 10px;
}

#firstRow {
    border-top: 1px solid black;
}

.lastRow {
    border-bottom: 1px solid black;
}

#lastRow {
    border-bottom: 1px solid black;
}

#mainSection {
    height: 75%;
}

