/*
*  Styles will go here
*
*
*/



body{
    height: 100%;
}

h3{
    color:red;
}

p{
    text-indent: 3em;
}

.container {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.header {
    padding-top: 60px;
    padding-left: 50px;
    height: 100px;
}

.nav-basic {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
}

.navbar-collapse {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer {
    height: 50px;
    padding-top:20px;
}

.displayBox {
    display: block;
    padding: 7px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    height: 120px;
}

.firstRow {
    border-top: 1px solid black;
    padding-top: 10px;
}

#firstRow {

}

.lastRow {
    border-bottom: 1px solid black;
}

#lastRow {
    border-bottom: 1px solid black;
}

#mainSection {
    height: 75%;
}

